*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.nav{
    height: 100px;
    width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav img{
    height: 100px;
    width: 700px;
}
.btns{
    display: flex;
    flex-wrap: wrap;
}
#home{
    background-color: white;
    color: rgb(250, 104, 104);
}
.nav button{
    height: 100px;
    width:200px;
    background-color: rgb(244, 104, 104);
    color: white;
    border: 1.8px solid black;
    font-size: 22px;
    cursor: pointer;
}
.heading{
    background-color: rgb(221, 61, 61);
    padding: 10px;
    padding-left: 40px;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.heading img{
    height: 80px;
}
.para{
    padding: 50px;
    font-size: 20px; 
    justify-content: center;
}
.heading2{
    margin-left: 60px;
}
.container{
    background-color:rgb(253, 160, 160);
    margin: 50px;
    margin-left: 4%;
    padding: 60px;
    width: 80%;
    height: 500px
}
.head3{
    margin: 50px;
    font-family: sans-serif;
}
.con img{
    margin-left: 100px;
    width: 50px;
    border-radius: 50px;
}
.pointers{
    margin-left: -43px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.con{
    width: 700px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.inp{
    padding: 2px;
    width: 100%;
    border-radius: 5px;
    border-color: #ffffff;
    
}
.pinp{
    padding: 3px;
    color: #501f1f;
}
.btn{
    width:30%;
    margin-left: 35%;
    margin-top: 20px;
    border-radius: 5px;
    height: 6%;
    background-color: #fbfbfb;
    border-color: #fbfbfb;
}
.pinp:hover{
   color: yellow;
   cursor: pointer;
}
.te{
    margin: 4px;
}
.te:hover{
   color: aliceblue;
}
.inp:hover{
    border:2px solid red;
}
.btn:hover{
    background-color: rgb(189, 34, 34);
    border-color: rgb(189, 34, 34);
}
#para{
    margin-top:20px;
    color: #502888;
}
#sol{
    margin-top:20px;
    color: aliceblue;
    font-size:20px;
}
#link{
    margin-top: 20px;

}